* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    text-align: center;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 20px;
    color: #1e90ff; 
    font-size: 28px;
}

.form-section {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #1e90ff; 
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.btn:hover {
    background-color: #1c86ee; 
}

.animals-list-section {
    margin-top: 20px;
}

.animals-list {
    list-style: none;
    padding: 0;
}

.animals-list li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.animals-list li strong {
    font-size: 18px;
    color: #1e90ff; 
    margin-bottom: 5px;
}

.animals-list li p {
    margin: 5px 0;
}

.animals-list li button {
    background-color: #1c86ee; 
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    margin-top: 10px;
}

.animals-list li button:hover {
    background-color: #187bcd; 
}


@media (max-width: 600px) {
    .container {
        padding: 20px;
        border-radius: 20px;
    }

    .form-group input,
    .form-group select {
        padding: 8px;
    }

    .btn {
        padding: 10px;
    }

    .animals-list li {
        padding: 10px;
    }
    
    .search-section {
        margin: 20px 0;
    }
    
    #searchInput {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 16px;
    }
}




